---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { Paginator, PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import config from '@/site-config'

export const prerender = true

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = await getBlogCollection()
  const allPostsByDate = sortMDByDate(allPosts)
  const predefinedCategories = config.content.categories ?? []

  return predefinedCategories.flatMap((c) => {
    const filterPosts = allPostsByDate.filter((post) => post.data.categories.includes(c.slug))
    return paginate(filterPosts, {
      pageSize: config.content.blogPageSize,
      params: { category: c.slug }
    })
  })
}

interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { page } = Astro.props
const { category } = Astro.params

const predefinedCategories = config.content.categories ?? []
const categoryTitle = predefinedCategories.find((c) => c.slug === category)?.title ?? category

const meta = {
  description: `View all posts in the category - ${categoryTitle}`,
  title: `Category: ${categoryTitle}`
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← Previous Categories`,
      url: page.url.prev
    }
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `Next Categories →`,
      url: page.url.next
    }
  })
}
---

<PageLayout {meta}>
  <Button title='Back' href='/blog' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 flex items-end gap-x-2 text-3xl font-medium'>
        Categories:
        <span class='text-2xl'>{categoryTitle}</span>
      </h1>
    </div>

    <section id='content' class='animate' aria-label='Blog post list'>
      <ul class='flex flex-col gap-y-3 text-start'>
        {page.data.map((post) => <PostPreview {post} detailed />)}
      </ul>
      <Paginator {...paginationProps} />
    </section>
  </main>
</PageLayout>
